<% if user_signed_in? %>
  <div class="jumbotron jumbotron-home">
    <div class="container"
      <h1>Welcome back!</h1>
    </div>
  </div>
<% else %>
<div id="fullscreen">
  <div id="fullscreen-overlay" > </div>
  <h1 class="h1_main"> Personal Finances </h1>
  <p class="p_main" align="center"> You deserve financial advice at a fair price. </p>
</div>
  <div class = "container"> <br> <br></div>
  <div class ="container">
    <div class="row">
        <div class="col-md-6">
            <h2 align="center">For Individuals</h2>
            <p>Connect with others people and advisors for financial advice</p>
              <ul>
                <li>How to save or invest </li>
                <li>How to borrow smartly</li>
              </ul>

            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-6">
              <h2 align="center">For Advisors</h2>
              <p> For Fee-Only Registered Investment Advisors </p>
                <ul>
                <li>View people through their wholestic financial picture </li>
                <li>Help people achieve their financial goals </li>
                </ul>
              <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
          </div>
    </div>
<% end %>
